{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmes projetc</title>
    <link rel="stylesheet" href="{% static 'css/film.css' %}">
</head>
  <body>
      <header>
        <div>
          <h2>Inicio</h2>
          <h2>Filmes</h2>
          <h2>Series</h2>
        </div>
        
        <form action="" method="post">
          <button><img src="{% static 'image/lupa.png' %}"></button>
          <input type="text">
        </form>
      </header>
    
  </body>
</html>